.hourly-weather>*:not(:last-child) {
  margin-bottom: 10px;
}

.hourly-weather__icon {
  width: 80px;
  height: 80px;
}


.hourly-weather__status {
  font-weight: 700;
}

.hourly-weather__temperature,
.hourly-weather__status {
  margin: 0;
}
